init.el
sacha.el
elpa/
elisp/
emojis/
eshell/
url/
image-dired/
auto-save-list/
*~
savehist
recentf
session.*
tramp
games/
network-security.data
projectile-bookmarks.eld
.last-package-update-day
anaconda-mode/
