[Unit]
Description=Emacs: the extensible, self-documenting text editor

[Service]
Environment="SSH_AUTH_SOCK=%h/.gnupg/S.gpg-agent.ssh"
Type=forking
ExecStart=/usr/bin/emacs --daemon
ExecStop=/usr/bin/emacsclient --socket-name /tmp/emacs%U/server --eval "(progn (setq kill-emacs-hook 'nil) (kill-emacs))"
Restart=always
User=%i
WorkingDirectory=%h

[Install]
WantedBy=default.target
Wants=gpg-agent.service
